.wrapper{
    margin-left: 150px; 
    margin-right: 450px; 
    background-color: lightgrey;
    position: relative;
}
.headcontainer{
    color: white;
    background-color: #9E0B0F;
    height: 16px;
    width: absolute;
    font-size: 14px;
    font-family: Arial, Helvetica;
    padding: 0px;
    margin: 0px;
}

.headline{
    display: inline;
    margin: 20px;
}

#overviewbutton{
    text-align: right;
}

.logo-wrap{
    color: white;
    background-color: #BB131A;
    height: 100px;
    font-size: 14px;
    font-family: Arial, Helvetica;
    padding: 0px;
    margin: 0px;
}

.site-logo{
    height: 75px; 
    width: 150px;
    margin-left: 5px;
    margin-top: 20px;
    display: inline-block;
}

.logo-href{
    position: relative;
    color: white;
    font-size: 30px;
    text-decoration: none;
    top: -25px;
    margin-left: 20px;
}

.right-logo{
    position: relative;
    top: -10px;
    right: -430px;
}

.bottom-bar{
    background: #D32824;
    border-bottom: #E94E38;
    border-width: 5px;
    height: 11px;
}

.bottom-navigation{
    height: 30px;
    background: #790000;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial, Helvetica;
    padding: 0px;
    margin-top: 0px;
}

.dropdown ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 7px;
}

.dropdown li{
    display: inline;
    color: white;
}
.dropdown a{
    text-decoration: none;
}

.bluefooter{
    height: 42px;
    background: #466199;
    font-size: 1.1875rem;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footelem{
    display: inline-block;
    justify-content: center;
    justify-content: space-between;
    padding: 5px;
    font-family: Arial, Helvetica;
}